@model  Student
<h6>First Name: @Model.FirstName </h6>
<h6>Last Name: @Model.LastName</h6>
<h6>Email: @Model.Email</h6> 

@* @model FirstMvcApplication.Models.Student
<table>
    <tr>
        <td>id:</td>
        <td>@Model.id</td>
    </tr>
    <tr>
        <td>First Name:</td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Model.Email</td>
    </tr>
</table> *@